/* MY RESET */
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}



/* GRID */

.container {
	max-width: 1560px;
	margin: 0 auto;
	padding: 0 20px;
}

/* LINKS */

a {
	text-decoration: none;
}

/* TEXT */

* {
	font-family: "Euclid Circular A Regular";
	color: #2B2E34;
}

.title-section {
	font-family: 'Euclid Circular A Medium';
	font-size: 40px;
	line-height: 53px;
	font-weight: 400;
}

.bold {
	font-family: 'Euclid Circular A Medium';
	color: #2B2E34;
	font-size: 18px;
}

@media screen and (max-width: 768px) {
	.title-section {
		font-size: 25px;
		line-height: 35px;
	}
}



/* ROW */

.counter.margin {
	margin-bottom: 31px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Buttons */

.btn-close {
	background: transparent;

}

.btn-close img {
	width: 18px;
	height: auto;
}



/* HIDEN */

.visible-m {
	display: none;
}

.visible-l {
	display: none;
}

@media screen and (max-width: 1024px) {
	.hiden-l {
		display: none!important;
	}
	.visible-l {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.hiden-xl {
		display: none!important;
	}

	.visible-m {
		display: block!important;
	}
	.visible-m.flex {
		display: flex!important
	}

	body.locked {
		overflow: hidden;
	}
}